:root
{
    --dark0-hard_x:     29,32,33; /* #1d2021 */
    --dark0-hard:       rgb(var(--dark0-hard_x));
    --dark0_x:          40,40,40; /* #282828 */
    --dark0:            rgb(var(--dark0_x));
    --dark0-soft_x:     50,48,47; /* #32302f */
    --dark0-soft:       rgb(var(--dark0-soft_x));
    --dark1_x:          60,56,54; /* #3c3836 */
    --dark1:            rgb(var(--dark1_x));
    --dark2_x:          80,73,69; /* #504945 */
    --dark2:            rgb(var(--dark2_x));
    --dark3_x:          102,92,84; /* #665c54 */
    --dark3:            rgb(var(--dark3_x));
    --dark4_x:          124,111,100; /* #7c6f64 */
    --dark4:            rgb(var(--dark4_x));
    --gray_x:           146,131,116; /* #928374 */
    --gray:             rgb(var(--gray_x));

    --light0-hard_x:    249,245,215; /* #f9f5d7 */
    --light0-hard:      rgb(var(--light0-hard_x));
    --light0_x:         251,241,199; /* #fbf1c7 */
    --light0:           rgb(var(--light0_x));
    --light0-soft_x:    242,229,188; /* #f2e5bc */
    --light0-soft:      rgb(var(--light0-soft_x));
    --light1_x:         235,219,178; /* #ebdbb2 */
    --light1:           rgb(var(--light1_x));
    --light2_x:         213,196,161; /* #d5c4a1 */
    --light2:           rgb(var(--light2_x));
    --light3_x:         189,174,147; /* #bdae93 */
    --light3:           rgb(var(--light3_x));
    --light4_x:         168,153,132; /* #a89984 */
    --light4:           rgb(var(--light4_x));

    --bright-red_x:     251,73,52; /* #fb4934 */
    --bright-red:       rgb(var(--bright-red_x));
    --bright-green_x:   184,187,38; /* #b8bb26 */


.cm-s-obsidian span.cm-quote
{
    color: rgb(57, 197, 187);
}


.cm-quote
{
    color: rgb(57, 197, 187);
    
}
